.footer {
  // bottom: 54px;
  padding: 12px;
  background-color: rgb(238, 184, 7);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-family: "Silkscreen";
  font-size: 12px;
}
